.uno div{
    width: 500px; 
    background-color: black;
    border: 1px solid gray;
}
.uno img {
    width:100%;
    border-bottom: 2px solid orange;
}
.uno p {
    color: white; 
    padding: 20px; 
    margin: 0;
}
.dos div {
    width: 600px; 
    height: 300px;
    background-image: url("../imagenes/coche.jpg");
    background-size: cover;
    border: 1px solid gray;
}
.dos p {
    width: 200px;
    height: 260px;
    background-color: rgba(0,0,0,.5);	
    color: white; 
    padding: 20px; 
    margin: 0;
}