table {
    background-color: #eee;
    color: #666; 
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    padding: 3px;
}
th {
    padding: 8px;
    text-align: left;
}
td {
    padding: 8px;
    background-color: #fff;
}
td:nth-child(3) {
    color: blue;
}
td:nth-child(4) {
    color: green;
}
td:nth-child(5) {
    color: orange;
}	